body {
  background-color: #c1c1c1;
  color: #444;
  font-family: sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

button {
  background: yellow;
  color: white;
  color: red; }
